##
# OS Specific aliases
case `uname` in
  Darwin)
    if [ -f $HOME/.aliases-macosx ]; then
        source $HOME/.aliases-macosx
    fi
    alias myos='echo Mac OSX'
    ;;
  Linux)
    if [ -f $HOME/.aliases-linux ]; then
        source $HOME/.aliases-linux
    fi
    alias myos='echo Linux'
    ;;
esac


##
# folders
alias ..='cd ../'
alias ...='cd ../../'
alias ....='cd ../../../'
alias fusers='cd ~/../'
alias froot='cd ~/../../'
alias home='cd ~/'
alias desktop='cd ~/Desktop'
alias documents='cd ~/Documents'
alias downloads='cd ~/Downloads'
alias dropbox='cd ~/Dropbox'
alias movies='cd ~/Movies'
alias music='cd ~/Music'
alias pictures='cd ~/Pictures'
alias projects='cd ~/Projects'
alias public='cd ~/Public'
alias sites='cd ~/Sites'


##
# git
alias giti='git init'
alias gits='git status'
alias gita='git add'
alias gitaa='git add -A'
alias gitp='git push -u origin master'
alias gitc='git commit -m'
alias gitcl='git clone'

# git short
alias gi='git init'
alias gs='git status'
alias ga='git add'
alias gaa='git add -A'
alias gp='git push -u origin master'
alias gc='git commit -m'
alias gcl='git clone'


##
# npm
alias npmi='npm install'
alias npmin='npm init'
alias npmln='npm link'
alias npmp='npm publish'
alias npmrm='npm remove'
alias npmup='npm update'
alias npmd='npm doctor'

# npm short
alias ni='npm install'
alias nin='npm init'
alias nln='npm link'
alias np='npm publish'
alias nrm='npm remove'
alias nup='npm update'
alias nd='npm doctor'


##
# files
alias l="ls -o -hX --group-directories-first"
alias la="ls -o -AhX --group-directories-first"



##
# functions
if [ -f $HOME/.functions ]; then
    source $HOME/.functions
fi
